<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1920, initial-scale=1.3">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Vulneedme</title>
</head>
<body>
    
    <div id="navbar">

        <div id="icon">
            <img src="{% static 'images/mountain.png' %}">
            <h1>Hills</h1>
        </div>

        <div id="options">
            <a href=".">
                <img src="{% static 'images/home.png' %}" alt="no-img" >
            </a>
            <a href=".">
                <img src="{% static 'images/letter.png' %}" alt="no-img" >
            </a>
            <a href=".">
                <img src="{% static 'images/profile-user.png' %}" alt="no-img" >
            </a>
        </div>
    </div>
    <div id="mostouterlogin">
        <div id="leftlogin">
        </div>
        <div id="rightlogin">
            <div id="icon">
                <img src="{% static 'images/lock.png' %}" alt="">
                <h1>Login</h1>
            </div>
            <form >
                <input type="text" placeholder="Username">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <a href="/">Forgot Password?</a>
                <button>Login</button>
            </form>

            <div id="info">
                <a href=".">
                    <img src="{% static 'images/github.png' %}" alt="no-img" srcset="">
                </a>
                <a href=".">
                    <img src="{% static 'images/facebook.png' %}" alt="no-img" srcset="">
                </a>
                <a href=".">
                    <img src="{% static 'images/linkedin.png' %}" alt="no-img" srcset="">
                </a>
            </div>
        </div>

    </div>

    <p id="creator">@Rupesh Ram</p>

</body>
</html>